<div class="row">
  <div class="col-sm-12 wallpaper" style="background-image: url('assets/img/schacht.png');">
    <div class="row wallpaper-quote">
      <div class="col-lg-1 col-1"></div>
      <div class="col-lg-10 col-11">
        <p class="h1-responsive text-uppercase slogan">Bigger, Better,<br> Harder, Stronger!</p>
      </div>
      <div class="col-lg-1"></div>
    </div>
    
  </div>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-lg-10 col-12">
    <div class="content row partners">
      <h1 class="font-weight-bold col-12">Onze partners.</h1>

          <div class="card col-12 col-sm-5 col-lg-4">
              <!-- Card image -->
              <div class="view overlay">
                <img class="partner-img" height="400px" src="assets/img/cafedeprof.jpg" alt="Cafe de Prof">
              </div>
              <!-- Card content -->
              <div class="col-1"></div>
          </div>
          
          <div class="card col-12 col-sm-5 col-lg-4">
            <!-- Card image -->
            <div class="view overlay partner-example">
              <h2>Uw bedrijf hier?</h2>
              <p><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:praeses@kludde.eu"> praeses@kludde.eu</a></p>
            </div>
            <!-- Card content -->
            <div class="col-1"></div>
        </div>
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>