.partner-img{
    margin: 0 auto;
}
.partners{
    padding-top: 25px;
    padding-bottom: 25px;
}
.partner-example h2{
    line-height: 400px;
    text-align: center;
}
.card{
    margin-right: 15px;
}
.slogan{
    display: none;
    background: #000;
    max-width: 415px;
    padding: 10px;
}