<div class="row">
  <div class="col-sm-12 wallpaper" style="background-image: url('assets/img/groepsfoto.png');">
    <div class="row wallpaper-quote">
      <div class="col-lg-1 col-1"></div>
      <div class="col-lg-10 col-11">
        <p class="h1-responsive text-uppercase slogan">Bigger, Better,<br> Harder, Stronger!</p>
      </div>
      <div class="col-lg-1"></div>
    </div>
    
  </div>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-lg-10 col-12">
    <div class="content row">
      <h1 class="font-weight-bold col-12">Ons team.</h1>
          <div class="card col-12 col-sm-5 col-lg-4">
              <!-- Card image -->
              <div class="view overlay">
                <img class="praesidium-img" height="400px" src="assets/img/praesidium/praeses.jpg" alt="Stijn Denhaerinck">
              </div>
              <!-- Card content -->
              <div class="praesidium-info">
                <!-- Title -->
                <h4 class="card-title">Stijn Denhaerinck</h4>
                <!-- Text -->
                <p>
                  Bachelor integrale veiligheid <br>
                  Functie(s): <a class="font-weight-bold">Praeses</a><br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:praeses@kludde.eu"> praeses@kludde.eu</a></p>
              </div>
              <div class="col-1"></div>
          </div>
          <!-- Card -->
          <div class="card col-12 col-sm-5 col-lg-4">
              <!-- Card image -->
              <div class="view overlay">
                <img class="praesidium-img" src="assets/img/praesidium/vice-praeses.jpg" alt="Stijn Denhaerinck">
              </div>
              <!-- Card content -->
              <div class="praesidium-info">
                <!-- Title -->
                <h4 class="card-title">Bas van der Hoeven</h4>
                <!-- Text -->
                <p>
                  Bachelor electronica-ICT<br>
                  Functie(s): <a class="font-weight-bold">Vice-praeses</a>, <a class="font-weight-bold">Webmaster</a><br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:vice-praeses@kludde.eu"> vice-praeses@kludde.eu</a><br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:webmaster@kludde.eu"> webmaster@kludde.eu</a>
              </p>
              </div>
              <div class="col-1"></div>
          </div>
          <!-- Card -->
          <div class="card col-12 col-sm-5 col-lg-4">
              <!-- Card image -->
              <div class="view overlay">
                <img class="praesidium-img" src="assets/img/praesidium/quaestor.jpg" alt="Jeremy Blekkink">
              </div>
              <!-- Card content -->
              <div class="praesidium-info">
                <!-- Title -->
                <h4 class="card-title">Jeremy Blekkink</h4>
                <!-- Text -->
                <p>
                  Bachelor integrale veiligheid <br>
                  Functie(s): <a class="font-weight-bold">Quaestor</a>, <a class="font-weight-bold">Schachtentemmer</a><br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:schachtentemmer@kludde.eu"> schachtentemmer@kludde.eu</a><br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:quaestor@kludde.eu"> quaestor@kludde.eu</a>
              </p>
              </div>
              <div class="col-1"></div>
          </div>
          <!-- Card -->
          <div class="card col-12 col-sm-5 col-lg-4">
              <!-- Card image -->
              <div class="view overlay">
                <img class="praesidium-img" src="assets/img/praesidium/cantor.jpg" alt="Guillaume de Schutter">
              </div>
              <!-- Card content -->
              <div class="praesidium-info">
                <!-- Title -->
                <h4 class="card-title">Guillaume de Schutter</h4>
                <!-- Text -->
                <p>
                  Bachelor verpleegkunde <br>
                  Functie(s): <a class="font-weight-bold">Cantor</a><br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:cantor@kludde.eu"> cantor@kludde.eu</a></p>
              </div>
              <div class="col-1"></div>
          </div>
          <!-- Card -->
          <div class="card col-12 col-sm-5 col-lg-4">
              <!-- Card image -->
              <div class="view overlay">
                <img class="praesidium-img" src="assets/img/praesidium/ab-actis.jpg" alt="Laura Hansson">
              </div>
              <!-- Card content -->
              <div class="praesidium-info">
                <!-- Title -->
                <h4 class="card-title">Laura Hansson</h4>
                <!-- Text -->
                <p>
                    Bachelor chemie (biochemie) <br>
                  Functie(s): <a class="font-weight-bold">Ab-Actis</a><br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:ab-actis@kludde.eu"> ab-actis@kludde.eu</a></p>
              </div>
              <div class="col-1"></div>
          </div>
          <!-- Card -->
          <div class="card col-12 col-sm-5 col-lg-4">
              <!-- Card image -->
              <div class="view overlay">
                <img class="praesidium-img" src="assets/img/praesidium/schachtenmeester.jpg" alt="Timo de Meyst">
              </div>
              <!-- Card content -->
              <div class="praesidium-info">
                <!-- Title -->
                <h4 class="card-title">Timo de Meyst</h4>
                <!-- Text -->
                <p>
                  Bachelor chemie (procestechnologie) <br>
                  Functie(s): <a class="font-weight-bold">Schachtenmeester</a><br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:schachtenmeester@kludde.eu"> schachtenmeester@kludde.eu</a></p>
              </div>
              <div class="col-1"></div>
          </div>
          <!-- Card -->
          <div class="card col-12 col-sm-5 col-lg-4">
              <!-- Card image -->
              <div class="view overlay">
                <img class="praesidium-img" src="assets/img/praesidium/soc.jpg" alt="Samuel Körner">
              </div>
              <!-- Card content -->
              <div class="praesidium-info">
                <!-- Title -->
                <h4 class="card-title">Samuel Körner</h4>
                <!-- Text -->
                <p>
                  Academische bachelor criminologie <br>
                  Functie(s): <a class="font-weight-bold">S.O.C.</a><br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:soc@kludde.eu"> soc@kludde.eu</a></p>
              </div>
              <div class="col-1"></div>
          </div>
          <!-- Card -->
          <div class="card col-12 col-sm-5 col-lg-4">
              <!-- Card image -->
              <div class="view overlay">
                <img class="praesidium-img" src="assets/img/praesidium/media.jpg" alt="Jalna Bonge">
              </div>
              <!-- Card content -->
              <div class="praesidium-info">
                <!-- Title -->
                <h4 class="card-title">Jalna Bonge</h4>
                <!-- Text -->
                <p>
                  Bachelor sociaal werk (kunst en cultuurbemiddeling)<br>
                  Functie(s): <a class="font-weight-bold">Media</a><br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:media@kludde.eu"> media@kludde.eu</a></p>
              </div>
              <div class="col-1"></div>
          </div>
          <!-- Card -->
          <div class="card col-12 col-sm-5 col-lg-4">
              <!-- Card image -->
              <div class="view overlay">
                <img class="praesidium-img" src="assets/img/praesidium/praegustor.jpg" alt="Michaël Vercauteren">
              </div>
              <!-- Card content -->
              <div class="praesidium-info">
                <!-- Title -->
                <h4 class="card-title">Michaël Vercauteren</h4>
                <!-- Text -->
                <p>
                  Bachelor chemie (biochemie) <br>
                  Functie(s): <a class="font-weight-bold">Praegustor</a><br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:praegustor@kludde.eu"> praegustor@kludde.eu</a></p>
              </div>
              <div class="col-1"></div>
          </div>
          <!-- Card -->
      
            
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>