<div class="row">
  <div class="col-sm-12 wallpaper" style="background-image: url('assets/img/sitebanner1p.png');">
    <div class="row wallpaper-quote">
      <div class="col-lg-1 col-1"></div>
      <div class="col-lg-10 col-11">
        <p class="h1-responsive text-uppercase slogan">Bigger, Better,<br> Harder, Stronger!</p>
      </div>
      <div class="col-lg-1"></div>
    </div>
    
  </div>
</div>
<div class="row">
  <div class="col-lg-1 col-1"></div>
  <div class="col-lg-10 col-10">
    <div class="content">
        <h1 class="h1-responsive"></h1>
      <p>
      </p>
    </div>
  </div>
  <div class="col-lg-1 col-1"></div>
</div>


